Azure-Alerts/LogicAppAlerts03/LogicApp.json
{
  "$schema": "https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
  "contentVersion": "1.0.0.0",
  "parameters": {
    "logicAppName": {
      "type": "string",
      "minLength": 1,
      "maxLength": 80,
      "metadata": {
        "description": "Name of the Logic App."
      }
    },
    "logicAppLocation": {
      "type": "string",
      "defaultValue": "[resourceGroup().location]"
    },
    "ConnectionName": {
      "type": "string",
      "defaultValue": "team"
    },
    "ConnectionDisplayName": {
      "type": "string",
      "defaultValue": "monitoring@greenflux.com"
    },
    "ConnectiontokenTenantId": {
      "type": "string",
      "metadata": {
        "description": "The tenant ID of for the Azure Active Directory application"
      }
    }
  },
  "variables": {},
  "resources": [
    {
      "name": "[parameters('logicAppName')]",
      "type": "Microsoft.Logic/workflows",
      "location": "[parameters('logicAppLocation')]",
      "tags": {
        "displayName": "LogicApp"
      },
      "apiVersion": "2016-06-01",
      "properties": {
        "definition": {
          "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
          "actions": {
            "Condition": {
              "type": "If",
              "expression": {
                "and": [
                  {
                    "equals": [
                      "@triggerBody()?['schemaId']",
                      "AzureMonitorMetricAlert"
                    ]
                  }
                ]
              },
              "actions": {
                "For_each": {
                  "type": "Foreach",
                  "foreach": "@triggerBody()?['data']?['context']?['condition']?['allOf']",
                  "actions": {
                    "Condition_Activated_otr_deactivated": {
                      "type": "If",
                      "expression": {
                        "and": [
                          {
                            "equals": [
                              "@triggerBody()?['data']?['status']",
                              "Activated"
                            ]
                          }
                        ]
                      },
                      "actions": {
                        "Condition_Chargestation_or_achargeasist_1": {
                          "type": "If",
                          "expression": {
                            "and": [
                              {
                                "contains": [
                                  "@triggerBody()?['data']?['context']?['description']",
                                  "chargestation"
                                ]
                              }
                            ]
                          },
                          "actions": {
                            "Post_message_in_a_chat_or_channel_2": {
                              "type": "ApiConnection",
                              "inputs": {
                                "host": {
                                  "connection": {
                                    "name": "@parameters('$connections')['teams']['connectionId']"
                                  }
                                },
                                "method": "post",
                                "body": {
                                  "recipient": {
                                    "groupId": "7d81e64e-b159-4b4e-8619-a91a5b1f4fca",
                                    "channelId": "19:13f02a7a1755426185945dbdfa8e6914@thread.skype"
                                  },
                                  "messageBody": "<p><span style=\"color: rgb(226,80,65)\"><strong></strong></span><span style=\"color: rgb(226,80,65)\"><strong>@{triggerBody()?['data']?['context']?['resourceName']}</strong></span><span style=\"color: rgb(226,80,65)\"><strong></strong></span><br>\n<span style=\"font-size: 14px\"><strong>Azure metric Alert; &nbsp;Metric Name: </strong></span><span style=\"font-size: 14px\"><strong>@{items('For_each')?['metricName']}</strong></span><span style=\"font-size: 14px\"><strong> </strong></span><span style=\"font-size: 14px\"><strong>@{items('For_each')?['operator']}</strong></span><span style=\"font-size: 14px\"><strong> </strong></span><span style=\"font-size: 14px\"><strong>@{items('For_each')?['threshold']}</strong></span><span style=\"font-size: 14px\"><strong> value is: </strong></span><span style=\"font-size: 14px\"><strong>@{items('For_each')?['metricValue']}</strong></span><span style=\"font-size: 14px\"><strong></strong></span><br>\n<br>\n@{triggerBody()?['data']?['context']?['portalLink']}<br>\n<strong><br>\nSeverity level: </strong><strong>@{triggerBody()?['data']?['context']?['severity']}</strong><strong><br>\nCurrent status: of alert: </strong><strong>@{triggerBody()?['data']?['status']}</strong><strong></strong></p>"
                                },
                                "path": "/beta/teams/conversation/message/poster/@{encodeURIComponent('User')}/location/@{encodeURIComponent('Channel')}"
                              },
                              "runAfter": {}
                            }
                          },
                          "runAfter": {},
                          "else": {
                            "actions": {
                              "Post_message_in_a_chat_or_channel": {
                                "type": "ApiConnection",
                                "inputs": {
                                  "host": {
                                    "connection": {
                                      "name": "@parameters('$connections')['teams']['connectionId']"
                                    }
                                  },
                                  "method": "post",
                                  "body": {
                                    "recipient": {
                                      "groupId": "7d81e64e-b159-4b4e-8619-a91a5b1f4fca",
                                      "channelId": "19:98beaedcbde84648995232d918735efa@thread.skype"
                                    },
                                    "messageBody": "<p><span style=\"color: rgb(184,49,47)\"><strong></strong></span><span style=\"color: rgb(184,49,47)\"><strong>@{triggerBody()?['data']?['context']?['resourceName']}</strong></span><span style=\"color: rgb(184,49,47)\"><strong></strong></span><br>\n<span style=\"font-size: 14px\"><strong>Azure metric Alert; &nbsp;Metric Name</strong></span><span style=\"font-size: 14px\"><strong>:  </strong></span><span style=\"font-size: 14px\"><strong>@{items('For_each')?['metricName']}</strong></span><span style=\"font-size: 14px\"><strong> </strong></span><span style=\"font-size: 14px\"><strong>@{items('For_each')?['operator']}</strong></span><span style=\"font-size: 14px\"><strong> </strong></span><span style=\"font-size: 14px\"><strong>@{items('For_each')?['threshold']}</strong></span><span style=\"font-size: 14px\"><strong> value is: </strong></span><span style=\"font-size: 14px\"><strong>@{items('For_each')?['metricValue']}</strong></span><span style=\"font-size: 14px\"><strong></strong></span><strong><br>\n</strong><br>\n@{triggerBody()?['data']?['context']?['portalLink']}<br>\n<strong><br>\nSeverity level: &nbsp;</strong><strong>@{triggerBody()?['data']?['context']?['severity']}</strong><strong><br>\nCurrent status: of alert: </strong><strong>@{triggerBody()?['data']?['status']}</strong><strong> </strong></p>"
                                  },
                                  "path": "/beta/teams/conversation/message/poster/@{encodeURIComponent('User')}/location/@{encodeURIComponent('Channel')}"
                                },
                                "runAfter": {}
                              }
                            }
                          }
                        }
                      },
                      "runAfter": {},
                      "else": {
                        "actions": {
                          "Condition_Chargestation_or_chargeassist2": {
                            "type": "If",
                            "expression": {
                              "and": [
                                {
                                  "contains": [
                                    "@triggerBody()?['data']?['context']?['description']",
                                    "chargestation"
                                  ]
                                }
                              ]
                            },
                            "actions": {
                              "Post_message_in_a_chat_or_channel_3": {
                                "type": "ApiConnection",
                                "inputs": {
                                  "host": {
                                    "connection": {
                                      "name": "@parameters('$connections')['teams']['connectionId']"
                                    }
                                  },
                                  "method": "post",
                                  "body": {
                                    "recipient": {
                                      "groupId": "7d81e64e-b159-4b4e-8619-a91a5b1f4fca",
                                      "channelId": "19:13f02a7a1755426185945dbdfa8e6914@thread.skype"
                                    },
                                    "messageBody": "<p><span style=\"color: rgb(65,168,95)\"><strong></strong></span><span style=\"color: rgb(65,168,95)\"><strong>@{triggerBody()?['data']?['context']?['resourceName']}</strong></span><span style=\"color: rgb(65,168,95)\"><strong></strong></span><br>\n<span style=\"font-size: 14px\"><strong>Azure metric Alert; &nbsp;Metric Name: &nbsp;</strong></span><span style=\"font-size: 14px\"><strong>@{items('For_each')?['metricName']}</strong></span><span style=\"font-size: 14px\"><strong> &nbsp;</strong></span><span style=\"font-size: 14px\"><strong>@{items('For_each')?['operator']}</strong></span><span style=\"font-size: 14px\"><strong> </strong></span><span style=\"font-size: 14px\"><strong>@{items('For_each')?['threshold']}</strong></span><span style=\"font-size: 14px\"><strong> value is: </strong></span><span style=\"font-size: 14px\"><strong>@{items('For_each')?['metricValue']}</strong></span><span style=\"font-size: 14px\"><strong></strong></span><strong><br>\n</strong><br>\n@{triggerBody()?['data']?['context']?['portalLink']}<br>\n<strong><br>\nSeverity level: </strong><strong>@{triggerBody()?['data']?['context']?['severity']}</strong><strong><br>\nCurrent status: of alert: </strong><strong>@{triggerBody()?['data']?['status']}</strong><strong></strong></p>"
                                  },
                                  "path": "/beta/teams/conversation/message/poster/@{encodeURIComponent('User')}/location/@{encodeURIComponent('Channel')}"
                                },
                                "runAfter": {}
                              }
                            },
                            "runAfter": {},
                            "else": {
                              "actions": {
                                "Post_message_in_a_chat_or_channel_4": {
                                  "type": "ApiConnection",
                                  "inputs": {
                                    "host": {
                                      "connection": {
                                        "name": "@parameters('$connections')['teams']['connectionId']"
                                      }
                                    },
                                    "method": "post",
                                    "body": {
                                      "recipient": {
                                        "groupId": "7d81e64e-b159-4b4e-8619-a91a5b1f4fca",
                                        "channelId": "19:98beaedcbde84648995232d918735efa@thread.skype"
                                      },
                                      "messageBody": "<p><span style=\"color: rgb(65,168,95)\"><strong></strong></span><span style=\"color: rgb(65,168,95)\"><strong>@{triggerBody()?['data']?['context']?['resourceName']}</strong></span><span style=\"color: rgb(65,168,95)\"><strong></strong></span><br>\n<span style=\"font-size: 14px\"><strong>Azure metric Alert; &nbsp;Metric Name: &nbsp;</strong></span><span style=\"font-size: 14px\"><strong>@{items('For_each')?['metricName']}</strong></span><span style=\"font-size: 14px\"><strong> &nbsp;</strong></span><span style=\"font-size: 14px\"><strong>@{items('For_each')?['operator']}</strong></span><span style=\"font-size: 14px\"><strong> </strong></span><span style=\"font-size: 14px\"><strong>@{items('For_each')?['threshold']}</strong></span><span style=\"font-size: 14px\"><strong> value is: </strong></span><span style=\"font-size: 14px\"><strong>@{items('For_each')?['metricValue']}</strong></span><span style=\"font-size: 14px\"><strong></strong></span><strong><br>\n</strong><br>\n@{triggerBody()?['data']?['context']?['portalLink']}<br>\n<br>\n<strong>Severity level: </strong><strong>@{triggerBody()?['data']?['context']?['severity']}</strong><strong><br>\nCurrent status: of alert:  </strong><strong>@{triggerBody()?['data']?['status']}</strong><strong></strong></p>"
                                    },
                                    "path": "/beta/teams/conversation/message/poster/@{encodeURIComponent('User')}/location/@{encodeURIComponent('Channel')}"
                                  },
                                  "runAfter": {}
                                }
                              }
                            }
                          }
                        }
                      }
                    }
                  },
                  "runAfter": {}
                }
              },
              "runAfter": {},
              "else": {
                "actions": {
                  "Post_message_in_a_chat_or_channel_5": {
                    "type": "ApiConnection",
                    "inputs": {
                      "host": {
                        "connection": {
                          "name": "@parameters('$connections')['teams']['connectionId']"
                        }
                      },
                      "method": "post",
                      "body": {
                        "recipient": {
                          "groupId": "7d81e64e-b159-4b4e-8619-a91a5b1f4fca",
                          "channelId": "19:0c8be18da04046daa403c9da4d2361a6@thread.skype"
                        },
                        "messageBody": "<p><strong>Unrecognized Azure Monitor Alert</strong><br>\n@{json(triggerBody())}</p>"
                      },
                      "path": "/beta/teams/conversation/message/poster/@{encodeURIComponent('User')}/location/@{encodeURIComponent('Channel')}"
                    },
                    "runAfter": {}
                  }
                }
              }
            }
          },
          "parameters": {
            "$connections": {
              "defaultValue": {},
              "type": "Object"
            }
          },
          "triggers": {
            "manual": {
              "type": "Request",
              "kind": "Http",
              "inputs": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "schemaId": {
                      "type": "string"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "version": {
                          "type": "string"
                        },
                        "properties": {},
                        "status": {
                          "type": "string"
                        },
                        "context": {
                          "type": "object",
                          "properties": {
                            "timestamp": {
                              "type": "string"
                            },
                            "id": {
                              "type": "string"
                            },
                            "name": {
                              "type": "string"
                            },
                            "description": {
                              "type": "string"
                            },
                            "conditionType": {
                              "type": "string"
                            },
                            "severity": {
                              "type": "string"
                            },
                            "condition": {
                              "type": "object",
                              "properties": {
                                "windowSize": {
                                  "type": "string"
                                },
                                "allOf": {
                                  "type": "array",
                                  "items": {
                                    "type": "object",
                                    "properties": {
                                      "metricName": {
                                        "type": "string"
                                      },
                                      "metricNamespace": {
                                        "type": "string"
                                      },
                                      "operator": {
                                        "type": "string"
                                      },
                                      "threshold": {
                                        "type": "string"
                                      },
                                      "timeAggregation": {
                                        "type": "string"
                                      },
                                      "dimensions": {
                                        "type": "array"
                                      },
                                      "metricValue": {
                                        "type": "integer"
                                      },
                                      "webTestName": {}
                                    },
                                    "required": [
                                      "metricName",
                                      "metricNamespace",
                                      "operator",
                                      "threshold",
                                      "timeAggregation",
                                      "dimensions",
                                      "metricValue",
                                      "webTestName"
                                    ]
                                  }
                                }
                              }
                            },
                            "subscriptionId": {
                              "type": "string"
                            },
                            "resourceGroupName": {
                              "type": "string"
                            },
                            "resourceName": {
                              "type": "string"
                            },
                            "resourceType": {
                              "type": "string"
                            },
                            "resourceId": {
                              "type": "string"
                            },
                            "portalLink": {
                              "type": "string"
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "contentVersion": "1.0.0.0",
          "outputs": {}
        },
        "parameters": {
          "$connections": {
            "value": {
              "teams": {
                "id": "[concat(subscription().id, '/providers/Microsoft.Web/locations/', parameters('logicAppLocation'), '/managedApis/', 'teams')]",
                "connectionId": "[resourceId('Microsoft.Web/connections', parameters('ConnectionName'))]",
                "connectionName": "[parameters('ConnectionName')]"
              }
            }
          }
        }
      },
      "dependsOn": [
        "[resourceId('Microsoft.Web/connections', parameters('ConnectionName'))]"
      ]
    },
    {
      "type": "MICROSOFT.WEB/CONNECTIONS",
      "apiVersion": "2018-07-01-preview",
      "name": "[parameters('ConnectionName')]",
      "location": "[parameters('logicAppLocation')]",
      "properties": {
        "api": {
          "id": "[concat(subscription().id, '/providers/Microsoft.Web/locations/', parameters('logicAppLocation'), '/managedApis/', 'teams')]"
        },
        "displayName": "[parameters('ConnectionDisplayName')]",
        "nonSecretParameterValues": {
          "token:TenantId": "[parameters('ConnectiontokenTenantId')]"
        }
      }
    }
  ],
  "outputs": {}
}