Azure-Alerts/LogicAppMetricAlerts01/LogicApp.json
{
  "$schema": "https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
  "contentVersion": "1.0.0.0",
  "parameters": {
    "logicAppName": {
      "type": "string",
      "minLength": 1,
      "maxLength": 80,
      "metadata": {
        "description": "Name of the Logic App."
      }
    },
    "logicAppLocation": {
      "type": "string",
      "defaultValue": "[resourceGroup().location]"
    },
    "ConnectionName": {
      "type": "string",
      "defaultValue": "team"
    },
    "ConnectionDisplayName": {
      "type": "string",
      "defaultValue": "monitoring@greenflux.com"
    },
    "ConnectiontokenTenantId": {
      "type": "string",
      "metadata": {
        "description": "The tenant ID of for the Azure Active Directory application"
      }
    }
  },
  "variables": {},
  "resources": [
    {
      "name": "[parameters('logicAppName')]",
      "type": "Microsoft.Logic/workflows",
      "location": "[parameters('logicAppLocation')]",
      "tags": {
        "displayName": "LogicApp"
      },
      "apiVersion": "2016-06-01",
      "properties": {
        "definition": {
          "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
          "actions": {
            "Condition": {
              "type": "If",
              "expression": {
                "and": [
                  {
                    "equals": [
                      "@triggerBody()?['schemaId']",
                      "AzureMonitorMetricAlert"
                    ]
                  }
                ]
              },
              "actions": {
                "For_each": {
                  "type": "Foreach",
                  "foreach": "@triggerBody()?['data']?['context']?['condition']?['allOf']",
                  "actions": {
                    "severity_0_or_1": {
                      "type": "If",
                      "expression": {
                        "or": [
                          {
                            "equals": [
                              "@triggerBody()?['data']?['context']?['severity']",
                              "1"
                            ]
                          },
                          {
                            "equals": [
                              "@triggerBody()?['data']?['context']?['severity']",
                              "0"
                            ]
                          }
                        ]
                      },
                      "actions": {
                        "severity_0": {
                          "type": "If",
                          "expression": {
                            "and": [
                              {
                                "equals": [
                                  "@triggerBody()?['data']?['context']?['severity']",
                                  "0"
                                ]
                              }
                            ]
                          },
                          "actions": {
                            "status_of_severity_0": {
                              "type": "If",
                              "expression": {
                                "and": [
                                  {
                                    "equals": [
                                      "@triggerBody()?['data']?['status']",
                                      "Activated"
                                    ]
                                  }
                                ]
                              },
                              "actions": {
                                "Activates_messages_with_severity_0": {
                                  "type": "ApiConnection",
                                  "inputs": {
                                    "host": {
                                      "connection": {
                                        "name": "@parameters('$connections')['teams_1']['connectionId']"
                                      }
                                    },
                                    "method": "post",
                                    "body": {
                                      "body": {
                                        "content": "<p><span style=\"color: rgb(184,49,47)\"><strong></strong></span><span style=\"color: rgb(184,49,47)\"><strong>@{triggerBody()?['data']?['context']?['resourceName']}</strong></span><span style=\"color: rgb(184,49,47)\"><strong></strong></span><strong><br>\n</strong><span style=\"font-size: 14px\"><strong>Azure metric Alert;</strong></span><strong> &nbsp;Metric Name: </strong><strong>@{items('For_each')?['metricName']}</strong><strong> </strong><strong>@{items('For_each')?['operator']}</strong><strong> </strong><strong>@{items('For_each')?['threshold']}</strong><strong> value is: </strong><strong>@{items('For_each')?['metricValue']}</strong><strong></strong><br>\n<br>\n@{triggerBody()?['data']?['context']?['portalLink']}<br>\n<br>\n<strong>Severity level: </strong><strong>@{triggerBody()?['data']?['context']?['severity']}</strong><strong><br>\nCurrent status: of alert: </strong><strong>@{triggerBody()?['data']?['status']}</strong><strong></strong></p>",
                                        "contentType": "html"
                                      }
                                    },
                                    "path": "/v3/beta/teams/@{encodeURIComponent('7d81e64e-b159-4b4e-8619-a91a5b1f4fca')}/channels/@{encodeURIComponent('19:218ab363158742e988473ab3507f1c50@thread.skype')}/messages"
                                  },
                                  "runAfter": {}
                                }
                              },
                              "runAfter": {},
                              "else": {
                                "actions": {
                                  "Deactivates_messages_with_severity_0": {
                                    "type": "ApiConnection",
                                    "inputs": {
                                      "host": {
                                        "connection": {
                                          "name": "@parameters('$connections')['teams_1']['connectionId']"
                                        }
                                      },
                                      "method": "post",
                                      "body": {
                                        "body": {
                                          "content": "<p><span style=\"color: rgb(65, 168, 95)\"><strong></strong></span><span style=\"color: rgb(65,168,95)\"><strong>@{triggerBody()?['data']?['context']?['resourceName']}</strong></span><span style=\"color: rgb(65,168,95)\"><strong></strong></span><strong><br>\n</strong><span style=\"font-size: 14px\"><strong>Azure metric Alert; </strong></span><strong>&nbsp;Metric Name: </strong><strong>@{items('For_each')?['metricName']}</strong><strong> </strong><strong>@{items('For_each')?['operator']}</strong><strong> </strong><strong>@{items('For_each')?['threshold']}</strong><strong> value is: </strong><strong>@{items('For_each')?['metricValue']}</strong><strong><br>\n</strong><br>\n@{triggerBody()?['data']?['context']?['portalLink']}<br>\n<br>\n<strong>Severity level: </strong><strong>@{triggerBody()?['data']?['context']?['severity']}</strong><strong><br>\nCurrent status: of alert: </strong><strong>@{triggerBody()?['data']?['status']}</strong><strong></strong></p>",
                                          "contentType": "html"
                                        }
                                      },
                                      "path": "/v3/beta/teams/@{encodeURIComponent('7d81e64e-b159-4b4e-8619-a91a5b1f4fca')}/channels/@{encodeURIComponent('19:218ab363158742e988473ab3507f1c50@thread.skype')}/messages"
                                    },
                                    "runAfter": {}
                                  }
                                }
                              }
                            }
                          },
                          "runAfter": {},
                          "else": {
                            "actions": {
                              "status_of_severity_1": {
                                "type": "If",
                                "expression": {
                                  "and": [
                                    {
                                      "equals": [
                                        "@triggerBody()?['data']?['status']",
                                        "Activated"
                                      ]
                                    }
                                  ]
                                },
                                "actions": {
                                  "Activates_messages_with_severity_1": {
                                    "type": "ApiConnection",
                                    "inputs": {
                                      "host": {
                                        "connection": {
                                          "name": "@parameters('$connections')['teams_1']['connectionId']"
                                        }
                                      },
                                      "method": "post",
                                      "body": {
                                        "body": {
                                          "content": "<p><span style=\"color: rgb(184,49,47)\"><strong></strong></span><span style=\"color: rgb(184,49,47)\"><strong>@{triggerBody()?['data']?['context']?['resourceName']}</strong></span><span style=\"color: rgb(184,49,47)\"><strong></strong></span><strong><br>\n</strong><span style=\"font-size: 14px\"><strong>Azure metric Alert; </strong></span><strong>&nbsp;Metric Name: </strong><strong>@{items('For_each')?['metricName']}</strong><strong> </strong><strong>@{items('For_each')?['operator']}</strong><strong> </strong><strong>@{items('For_each')?['threshold']}</strong><strong> value is: </strong><strong>@{items('For_each')?['metricValue']}</strong><strong></strong><br>\n<br>\n@{triggerBody()?['data']?['context']?['portalLink']}<br>\n<br>\n<strong>Severity level: </strong><strong>@{triggerBody()?['data']?['context']?['severity']}</strong><strong><br>\nCurrent status: of alert: </strong><strong>@{triggerBody()?['data']?['status']}</strong><strong></strong></p>",
                                          "contentType": "html"
                                        }
                                      },
                                      "path": "/v3/beta/teams/@{encodeURIComponent('7d81e64e-b159-4b4e-8619-a91a5b1f4fca')}/channels/@{encodeURIComponent('19:5a76a26e1f4e4a66ac46c26d628de4b6@thread.skype')}/messages"
                                    },
                                    "runAfter": {}
                                  }
                                },
                                "runAfter": {},
                                "else": {
                                  "actions": {
                                    "Dectivates_messages_with_severity_1": {
                                      "type": "ApiConnection",
                                      "inputs": {
                                        "host": {
                                          "connection": {
                                            "name": "@parameters('$connections')['teams_1']['connectionId']"
                                          }
                                        },
                                        "method": "post",
                                        "body": {
                                          "body": {
                                            "content": "<p><span style=\"color: rgb(65,168,95)\"><strong></strong></span><span style=\"color: rgb(65,168,95)\"><strong>@{triggerBody()?['data']?['context']?['resourceName']}</strong></span><span style=\"color: rgb(65,168,95)\"><strong></strong></span><strong><br>\n</strong><span style=\"font-size: 14px\"><strong>Azure metric Alert; &nbsp;</strong></span><strong>Metric Name: </strong><strong>@{items('For_each')?['metricName']}</strong><strong> </strong><strong>@{items('For_each')?['operator']}</strong><strong> </strong><strong>@{items('For_each')?['threshold']}</strong><strong> value is: </strong><strong>@{items('For_each')?['metricValue']}</strong><strong><br>\n</strong><br>\n@{triggerBody()?['data']?['context']?['portalLink']}<br>\n<br>\n<strong>Severity level: </strong><strong>@{triggerBody()?['data']?['context']?['severity']}</strong><strong><br>\nCurrent status: of alert: </strong><strong>@{triggerBody()?['data']?['status']}</strong><strong></strong></p>",
                                            "contentType": "html"
                                          }
                                        },
                                        "path": "/v3/beta/teams/@{encodeURIComponent('7d81e64e-b159-4b4e-8619-a91a5b1f4fca')}/channels/@{encodeURIComponent('19:5a76a26e1f4e4a66ac46c26d628de4b6@thread.skype')}/messages"
                                      },
                                      "runAfter": {}
                                    }
                                  }
                                }
                              }
                            }
                          }
                        }
                      },
                      "runAfter": {},
                      "else": {
                        "actions": {
                          "Status_of_severity_3_and_4_": {
                            "type": "If",
                            "expression": {
                              "and": [
                                {
                                  "equals": [
                                    "@triggerBody()?['data']?['status']",
                                    "Activated"
                                  ]
                                }
                              ]
                            },
                            "actions": {
                              "Activated_condition_to_teams": {
                                "type": "If",
                                "expression": {
                                  "or": [
                                    {
                                      "contains": [
                                        "@triggerBody()?['data']?['context']?['description']",
                                        "portal"
                                      ]
                                    },
                                    {
                                      "contains": [
                                        "@triggerBody()?['data']?['context']?['description']",
                                        "smartcharging"
                                      ]
                                    },
                                    {
                                      "contains": [
                                        "@triggerBody()?['data']?['context']?['description']",
                                        "billing"
                                      ]
                                    },
                                    {
                                      "contains": [
                                        "@triggerBody()?['data']?['context']?['description']",
                                        "Integration"
                                      ]
                                    }
                                  ]
                                },
                                "actions": {
                                  "Condition_2": {
                                    "type": "If",
                                    "expression": {
                                      "or": [
                                        {
                                          "contains": [
                                            "@triggerBody()?['data']?['context']?['description']",
                                            "portal"
                                          ]
                                        },
                                        {
                                          "contains": [
                                            "@triggerBody()?['data']?['context']?['description']",
                                            "billing"
                                          ]
                                        },
                                        {
                                          "contains": [
                                            "@triggerBody()?['data']?['context']?['description']",
                                            "Integration"
                                          ]
                                        }
                                      ]
                                    },
                                    "actions": {
                                      "Condition_3": {
                                        "type": "If",
                                        "expression": {
                                          "or": [
                                            {
                                              "contains": [
                                                "@triggerBody()?['data']?['context']?['description']",
                                                "billing"
                                              ]
                                            },
                                            {
                                              "contains": [
                                                "@triggerBody()?['data']?['context']?['description']",
                                                "Integration"
                                              ]
                                            }
                                          ]
                                        },
                                        "actions": {
                                          "Condition_4": {
                                            "type": "If",
                                            "expression": {
                                              "and": [
                                                {
                                                  "contains": [
                                                    "@triggerBody()?['data']?['context']?['description']",
                                                    "Integration"
                                                  ]
                                                }
                                              ]
                                            },
                                            "actions": {
                                              "Activated_messages_for_integration_team": {
                                                "type": "ApiConnection",
                                                "inputs": {
                                                  "host": {
                                                    "connection": {
                                                      "name": "@parameters('$connections')['teams_1']['connectionId']"
                                                    }
                                                  },
                                                  "method": "post",
                                                  "body": {
                                                    "body": {
                                                      "content": "<p><span style=\"color: rgb(184,49,47)\"><strong>@{triggerBody()?['data']?['context']?['resourceName']}</strong></span><span style=\"color: rgb(184,49,47)\"><strong></strong></span><strong><br>\n</strong><span style=\"font-size: 14px\"><strong>Azure metric Alert;</strong></span><strong> &nbsp;Metric Name: </strong><strong>@{items('For_each')?['metricName']}</strong><strong> </strong><strong>@{items('For_each')?['operator']}</strong><strong> </strong><strong>@{items('For_each')?['threshold']}</strong><strong> value is: </strong><strong>@{items('For_each')?['metricValue']}</strong><strong></strong><br>\n<br>\n@{triggerBody()?['data']?['context']?['portalLink']}<br>\n<strong><br>\nSeverity level: </strong><strong>@{triggerBody()?['data']?['context']?['severity']}</strong><strong><br>\nCurrent status: of alert: </strong><strong>@{triggerBody()?['data']?['status']}</strong><strong></strong></p>",
                                                      "contentType": "html"
                                                    }
                                                  },
                                                  "path": "/v3/beta/teams/@{encodeURIComponent('7d81e64e-b159-4b4e-8619-a91a5b1f4fca')}/channels/@{encodeURIComponent('19:37aa5a0e29ae4b59bfb879082efd65c0@thread.skype')}/messages"
                                                },
                                                "runAfter": {}
                                              }
                                            },
                                            "runAfter": {},
                                            "else": {
                                              "actions": {
                                                "Activated_messages_for_billing_team": {
                                                  "type": "ApiConnection",
                                                  "inputs": {
                                                    "host": {
                                                      "connection": {
                                                        "name": "@parameters('$connections')['teams_1']['connectionId']"
                                                      }
                                                    },
                                                    "method": "post",
                                                    "body": {
                                                      "body": {
                                                        "content": "<p><span style=\"color: rgb(184, 49, 47)\"><strong></strong></span><span style=\"color: rgb(184, 49, 47)\"><strong>@{triggerBody()?['data']?['context']?['resourceName']}</strong></span><span style=\"color: rgb(184, 49, 47)\"><strong></strong></span><strong><br>\n</strong><span style=\"font-size: 14px\"><strong>Azure metric Alert;</strong></span><strong> &nbsp;Metric Name: </strong><strong>@{items('For_each')?['metricName']}</strong><strong> </strong><strong>@{items('For_each')?['operator']}</strong><strong> </strong><strong>@{items('For_each')?['threshold']}</strong><strong> value is: </strong><strong>@{items('For_each')?['metricValue']}</strong><strong></strong><br>\n<br>\n@{triggerBody()?['data']?['context']?['portalLink']}<br>\n<strong><br>\nSeverity level: </strong><strong>@{triggerBody()?['data']?['context']?['severity']}</strong><strong><br>\nCurrent status: of alert: </strong><strong>@{triggerBody()?['data']?['status']}</strong><strong></strong></p>",
                                                        "contentType": "html"
                                                      }
                                                    },
                                                    "path": "/v3/beta/teams/@{encodeURIComponent('7d81e64e-b159-4b4e-8619-a91a5b1f4fca')}/channels/@{encodeURIComponent('19:8b93b572d671485e94c9cd8f1fad97da@thread.skype')}/messages"
                                                  },
                                                  "runAfter": {}
                                                }
                                              }
                                            }
                                          }
                                        },
                                        "runAfter": {},
                                        "else": {
                                          "actions": {
                                            "Activated_messages_for_Portal_team": {
                                              "type": "ApiConnection",
                                              "inputs": {
                                                "host": {
                                                  "connection": {
                                                    "name": "@parameters('$connections')['teams_1']['connectionId']"
                                                  }
                                                },
                                                "method": "post",
                                                "body": {
                                                  "body": {
                                                    "content": "<p><span style=\"color: rgb(184, 49, 47)\"><strong></strong></span><span style=\"color: rgb(184, 49, 47)\"><strong>@{triggerBody()?['data']?['context']?['resourceName']}</strong></span><span style=\"color: rgb(184, 49, 47)\"><strong></strong></span><strong><br>\n</strong><span style=\"font-size: 14px\"><strong>Azure metric Alert; </strong></span><strong>&nbsp;Metric Name: </strong><strong>@{items('For_each')?['metricName']}</strong><strong> </strong><strong>@{items('For_each')?['operator']}</strong><strong> </strong><strong>@{items('For_each')?['threshold']}</strong><strong> value is: </strong><strong>@{items('For_each')?['metricValue']}</strong><strong><br>\n</strong><br>\n@{triggerBody()?['data']?['context']?['portalLink']}<br>\n<br>\n<strong>Severity level: </strong><strong>@{triggerBody()?['data']?['context']?['severity']}</strong><strong><br>\nCurrent status: of alert: </strong><strong>@{triggerBody()?['data']?['status']}</strong><strong></strong></p>",
                                                    "contentType": "html"
                                                  }
                                                },
                                                "path": "/v3/beta/teams/@{encodeURIComponent('7d81e64e-b159-4b4e-8619-a91a5b1f4fca')}/channels/@{encodeURIComponent('19:26c0299807ef46b2acb735a6abf79929@thread.skype')}/messages"
                                              },
                                              "runAfter": {}
                                            }
                                          }
                                        }
                                      }
                                    },
                                    "runAfter": {},
                                    "else": {
                                      "actions": {
                                        "Activated_messages_for_Smartcharging_": {
                                          "type": "ApiConnection",
                                          "inputs": {
                                            "host": {
                                              "connection": {
                                                "name": "@parameters('$connections')['teams_1']['connectionId']"
                                              }
                                            },
                                            "method": "post",
                                            "body": {
                                              "body": {
                                                "content": "<p><span style=\"color: rgb(184,49,47)\"><strong></strong></span><span style=\"color: rgb(184,49,47)\"><strong>@{triggerBody()?['data']?['context']?['resourceName']}</strong></span><span style=\"color: rgb(184,49,47)\"><strong></strong></span><strong><br>\n</strong><span style=\"font-size: 14px\"><strong>Azure metric Alert; </strong></span><strong>&nbsp;Metric Name: </strong><strong>@{items('For_each')?['metricName']}</strong><strong> </strong><strong>@{items('For_each')?['operator']}</strong><strong> </strong><strong>@{items('For_each')?['threshold']}</strong><strong> value is: </strong><strong>@{items('For_each')?['metricValue']}</strong><strong></strong><br>\n<br>\n@{triggerBody()?['data']?['context']?['portalLink']}<br>\n<br>\nS<strong>everity level: </strong><strong>@{triggerBody()?['data']?['context']?['severity']}</strong><strong><br>\nCurrent status: of alert: </strong><strong>@{triggerBody()?['data']?['status']}</strong><strong></strong></p>",
                                                "contentType": "html"
                                              }
                                            },
                                            "path": "/v3/beta/teams/@{encodeURIComponent('7d81e64e-b159-4b4e-8619-a91a5b1f4fca')}/channels/@{encodeURIComponent('19:bf8b6cbf31f84ecf8a2ab006c7906f11@thread.skype')}/messages"
                                          },
                                          "runAfter": {}
                                        }
                                      }
                                    }
                                  }
                                },
                                "runAfter": {},
                                "else": {
                                  "actions": {
                                    "Activeted_messages_for_Devops_alerts": {
                                      "type": "ApiConnection",
                                      "inputs": {
                                        "host": {
                                          "connection": {
                                            "name": "@parameters('$connections')['teams_1']['connectionId']"
                                          }
                                        },
                                        "method": "post",
                                        "body": {
                                          "body": {
                                            "content": "<p><span style=\"color: rgb(184,49,47)\"><strong></strong></span><span style=\"color: rgb(184,49,47)\"><strong>@{triggerBody()?['data']?['context']?['resourceName']}</strong></span><span style=\"color: rgb(184,49,47)\"><strong></strong></span><strong><br>\n</strong><span style=\"font-size: 14px\"><strong>Azure metric Alert; </strong></span><strong>&nbsp;Metric Name: </strong><strong>@{items('For_each')?['metricName']}</strong><strong> </strong><strong>@{items('For_each')?['operator']}</strong><strong> </strong><strong>@{items('For_each')?['threshold']}</strong><strong> value is: </strong><strong>@{items('For_each')?['metricValue']}</strong><strong><br>\n</strong><br>\n@{triggerBody()?['data']?['context']?['portalLink']}<br>\n<br>\n<strong>Severity level: </strong><strong>@{triggerBody()?['data']?['context']?['severity']}</strong><strong><br>\nCurrent status: of alert: </strong><strong>@{triggerBody()?['data']?['status']}</strong><strong></strong></p>",
                                            "contentType": "html"
                                          }
                                        },
                                        "path": "/v3/beta/teams/@{encodeURIComponent('7d81e64e-b159-4b4e-8619-a91a5b1f4fca')}/channels/@{encodeURIComponent('19:0c8be18da04046daa403c9da4d2361a6@thread.skype')}/messages"
                                      },
                                      "runAfter": {}
                                    }
                                  }
                                }
                              }
                            },
                            "runAfter": {},
                            "else": {
                              "actions": {
                                "Dectivated_condition_to_teams": {
                                  "type": "If",
                                  "expression": {
                                    "or": [
                                      {
                                        "contains": [
                                          "@triggerBody()?['data']?['context']?['description']",
                                          "portal"
                                        ]
                                      },
                                      {
                                        "contains": [
                                          "@triggerBody()?['data']?['context']?['description']",
                                          "smartcharging"
                                        ]
                                      },
                                      {
                                        "contains": [
                                          "@triggerBody()?['data']?['context']?['description']",
                                          "billing"
                                        ]
                                      },
                                      {
                                        "contains": [
                                          "@triggerBody()?['data']?['context']?['description']",
                                          "Integration"
                                        ]
                                      }
                                    ]
                                  },
                                  "actions": {
                                    "billing_and_portal": {
                                      "type": "If",
                                      "expression": {
                                        "or": [
                                          {
                                            "contains": [
                                              "@triggerBody()?['data']?['context']?['description']",
                                              "billing"
                                            ]
                                          },
                                          {
                                            "contains": [
                                              "@triggerBody()?['data']?['context']?['description']",
                                              "portal"
                                            ]
                                          },
                                          {
                                            "contains": [
                                              "@triggerBody()?['data']?['context']?['description']",
                                              "Integration"
                                            ]
                                          }
                                        ]
                                      },
                                      "actions": {
                                        "billing": {
                                          "type": "If",
                                          "expression": {
                                            "or": [
                                              {
                                                "contains": [
                                                  "@triggerBody()?['data']?['context']?['description']",
                                                  "billing"
                                                ]
                                              },
                                              {
                                                "contains": [
                                                  "@triggerBody()?['data']?['context']?['description']",
                                                  "Integration"
                                                ]
                                              }
                                            ]
                                          },
                                          "actions": {
                                            "Condition_5": {
                                              "type": "If",
                                              "expression": {
                                                "and": [
                                                  {
                                                    "contains": [
                                                      "@triggerBody()?['data']?['context']?['description']",
                                                      "Integration"
                                                    ]
                                                  }
                                                ]
                                              },
                                              "actions": {
                                                "Deactivates_messages_for_integration_team": {
                                                  "type": "ApiConnection",
                                                  "inputs": {
                                                    "host": {
                                                      "connection": {
                                                        "name": "@parameters('$connections')['teams_1']['connectionId']"
                                                      }
                                                    },
                                                    "method": "post",
                                                    "body": {
                                                      "body": {
                                                        "content": "<p><span style=\"color: rgb(65,168,95)\"><strong></strong></span><span style=\"color: rgb(65,168,95)\"><strong>@{triggerBody()?['data']?['context']?['resourceName']}</strong></span><span style=\"color: rgb(65,168,95)\"><strong></strong></span><strong><br>\n</strong><span style=\"font-size: 14px\"><strong>Azure metric Alert; </strong></span><strong>&nbsp;Metric Name: </strong><strong>@{items('For_each')?['metricName']}</strong><strong> </strong><strong>@{items('For_each')?['operator']}</strong><strong> </strong><strong>@{items('For_each')?['threshold']}</strong><strong> value is: </strong><strong>@{items('For_each')?['metricValue']}</strong><strong><br>\n</strong><br>\n@{triggerBody()?['data']?['context']?['portalLink']}<br>\n<strong><br>\nSeverity level: </strong><strong>@{triggerBody()?['data']?['context']?['severity']}</strong><strong><br>\nCurrent status: of alert: </strong><strong>@{triggerBody()?['data']?['status']}</strong><strong></strong></p>",
                                                        "contentType": "html"
                                                      }
                                                    },
                                                    "path": "/v3/beta/teams/@{encodeURIComponent('7d81e64e-b159-4b4e-8619-a91a5b1f4fca')}/channels/@{encodeURIComponent('19:37aa5a0e29ae4b59bfb879082efd65c0@thread.skype')}/messages"
                                                  },
                                                  "runAfter": {}
                                                }
                                              },
                                              "runAfter": {},
                                              "else": {
                                                "actions": {
                                                  "Deactiveted_messages_for_billing_alerts": {
                                                    "type": "ApiConnection",
                                                    "inputs": {
                                                      "host": {
                                                        "connection": {
                                                          "name": "@parameters('$connections')['teams_1']['connectionId']"
                                                        }
                                                      },
                                                      "method": "post",
                                                      "body": {
                                                        "body": {
                                                          "content": "<p><span style=\"color: rgb(65, 168, 95)\"><strong></strong></span><span style=\"color: rgb(65, 168, 95)\"><strong>@{triggerBody()?['data']?['context']?['resourceName']}</strong></span><span style=\"color: rgb(65, 168, 95)\"><strong></strong></span><strong><br>\n</strong><span style=\"font-size: 14px\"><strong>Azure metric Alert</strong></span><strong>; &nbsp;Metric Name: </strong><strong>@{items('For_each')?['metricName']}</strong><strong> </strong><strong>@{items('For_each')?['operator']}</strong><strong> </strong><strong>@{items('For_each')?['threshold']}</strong><strong> value is: </strong><strong>@{items('For_each')?['metricValue']}</strong><strong></strong><br>\n<br>\n@{triggerBody()?['data']?['context']?['portalLink']}<br>\n<br>\n<strong>Severity level: </strong><strong>@{triggerBody()?['data']?['context']?['severity']}</strong><strong><br>\nCurrent status: of alert: </strong><strong>@{triggerBody()?['data']?['status']}</strong><strong></strong></p>",
                                                          "contentType": "html"
                                                        }
                                                      },
                                                      "path": "/v3/beta/teams/@{encodeURIComponent('7d81e64e-b159-4b4e-8619-a91a5b1f4fca')}/channels/@{encodeURIComponent('19:8b93b572d671485e94c9cd8f1fad97da@thread.skype')}/messages"
                                                    },
                                                    "runAfter": {}
                                                  }
                                                }
                                              }
                                            }
                                          },
                                          "runAfter": {},
                                          "else": {
                                            "actions": {
                                              "Deactiveted_messages_for_portal_alerts": {
                                                "type": "ApiConnection",
                                                "inputs": {
                                                  "host": {
                                                    "connection": {
                                                      "name": "@parameters('$connections')['teams_1']['connectionId']"
                                                    }
                                                  },
                                                  "method": "post",
                                                  "body": {
                                                    "body": {
                                                      "content": "<p><span style=\"color: rgb(65, 168, 95)\"><strong></strong></span><span style=\"color: rgb(65, 168, 95)\"><strong>@{triggerBody()?['data']?['context']?['resourceName']}</strong></span><span style=\"color: rgb(65, 168, 95)\"><strong></strong></span><strong><br>\n</strong><span style=\"font-size: 14px\"><strong>Azure metric Alert; </strong></span><strong>&nbsp;Metric Name: </strong><strong>@{items('For_each')?['metricName']}</strong><strong> </strong><strong>@{items('For_each')?['operator']}</strong><strong> </strong><strong>@{items('For_each')?['threshold']}</strong><strong> value is: </strong><strong>@{items('For_each')?['metricValue']}</strong><strong></strong><br>\n<br>\n@{triggerBody()?['data']?['context']?['portalLink']}<br>\n<strong><br>\nSeverity level: </strong><strong>@{triggerBody()?['data']?['context']?['severity']}</strong><strong><br>\nCurrent status: of alert: </strong><strong>@{triggerBody()?['data']?['status']}</strong><strong></strong></p>",
                                                      "contentType": "html"
                                                    }
                                                  },
                                                  "path": "/v3/beta/teams/@{encodeURIComponent('7d81e64e-b159-4b4e-8619-a91a5b1f4fca')}/channels/@{encodeURIComponent('19:26c0299807ef46b2acb735a6abf79929@thread.skype')}/messages"
                                                },
                                                "runAfter": {}
                                              }
                                            }
                                          }
                                        }
                                      },
                                      "runAfter": {},
                                      "else": {
                                        "actions": {
                                          "Deactiveted_messages_for_Smartcharging_alerts": {
                                            "type": "ApiConnection",
                                            "inputs": {
                                              "host": {
                                                "connection": {
                                                  "name": "@parameters('$connections')['teams_1']['connectionId']"
                                                }
                                              },
                                              "method": "post",
                                              "body": {
                                                "body": {
                                                  "content": "<p><span style=\"color: rgb(65,168,95)\"><strong></strong></span><span style=\"color: rgb(65,168,95)\"><strong>@{triggerBody()?['data']?['context']?['resourceName']}</strong></span><span style=\"color: rgb(65,168,95)\"><strong></strong></span><strong><br>\n</strong><span style=\"font-size: 14px\"><strong>Azure metric Alert;</strong></span><strong> &nbsp;Metric Name: </strong><strong>@{items('For_each')?['metricName']}</strong><strong> </strong><strong>@{items('For_each')?['operator']}</strong><strong> </strong><strong>@{items('For_each')?['threshold']}</strong><strong> value is: </strong><strong>@{items('For_each')?['metricValue']}</strong><strong></strong><br>\n<br>\n@{triggerBody()?['data']?['context']?['portalLink']}<br>\n<br>\n<strong>Severity level: </strong><strong>@{triggerBody()?['data']?['context']?['severity']}</strong><strong><br>\nCurrent status: of alert: </strong><strong>@{triggerBody()?['data']?['status']}</strong><strong></strong></p>",
                                                  "contentType": "html"
                                                }
                                              },
                                              "path": "/v3/beta/teams/@{encodeURIComponent('7d81e64e-b159-4b4e-8619-a91a5b1f4fca')}/channels/@{encodeURIComponent('19:bf8b6cbf31f84ecf8a2ab006c7906f11@thread.skype')}/messages"
                                            },
                                            "runAfter": {}
                                          }
                                        }
                                      }
                                    }
                                  },
                                  "runAfter": {},
                                  "else": {
                                    "actions": {
                                      "Deactiveted_messages_for_Devops_alerts": {
                                        "type": "ApiConnection",
                                        "inputs": {
                                          "host": {
                                            "connection": {
                                              "name": "@parameters('$connections')['teams_1']['connectionId']"
                                            }
                                          },
                                          "method": "post",
                                          "body": {
                                            "body": {
                                              "content": "<p><span style=\"color: rgb(65, 168, 95)\"><strong></strong></span><span style=\"color: rgb(65,168,95)\"><strong>@{triggerBody()?['data']?['context']?['resourceName']}</strong></span><span style=\"color: rgb(65,168,95)\"><strong></strong></span><strong><br>\n</strong><span style=\"font-size: 14px\"><strong>Azure metric Alert; </strong></span><strong>&nbsp;Metric Name: </strong><strong>@{items('For_each')?['metricName']}</strong><strong> </strong><strong>@{items('For_each')?['operator']}</strong><strong> </strong><strong>@{items('For_each')?['threshold']}</strong><strong> value is: </strong><strong>@{items('For_each')?['metricValue']}</strong><strong></strong><br>\n<br>\n@{triggerBody()?['data']?['context']?['portalLink']}<br>\n<br>\n<strong>Severity level: </strong><strong>@{triggerBody()?['data']?['context']?['severity']}</strong><strong><br>\nCurrent status: of alert: </strong><strong>@{triggerBody()?['data']?['status']}</strong><strong></strong></p>",
                                              "contentType": "html"
                                            }
                                          },
                                          "path": "/v3/beta/teams/@{encodeURIComponent('7d81e64e-b159-4b4e-8619-a91a5b1f4fca')}/channels/@{encodeURIComponent('19:0c8be18da04046daa403c9da4d2361a6@thread.skype')}/messages"
                                        },
                                        "runAfter": {}
                                      }
                                    }
                                  }
                                }
                              }
                            }
                          }
                        }
                      }
                    }
                  },
                  "runAfter": {}
                }
              },
              "runAfter": {},
              "else": {
                "actions": {
                  "Unrecognized_alert_message:": {
                    "type": "ApiConnection",
                    "inputs": {
                      "host": {
                        "connection": {
                          "name": "@parameters('$connections')['teams_1']['connectionId']"
                        }
                      },
                      "method": "post",
                      "body": {
                        "body": {
                          "content": "<p><span style=\"font-size: 14px\"><strong>Unrecognized alert message:</strong></span><br>\n<br>\n@{json(triggerBody())}</p>",
                          "contentType": "html"
                        }
                      },
                      "path": "/v3/beta/teams/@{encodeURIComponent('7d81e64e-b159-4b4e-8619-a91a5b1f4fca')}/channels/@{encodeURIComponent('19:0c8be18da04046daa403c9da4d2361a6@thread.skype')}/messages"
                    },
                    "runAfter": {}
                  }
                }
              }
            }
          },
          "parameters": {
            "$connections": {
              "defaultValue": {},
              "type": "Object"
            }
          },
          "triggers": {
            "manual": {
              "type": "Request",
              "kind": "Http",
              "inputs": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "schemaId": {
                      "type": "string"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "version": {
                          "type": "string"
                        },
                        "properties": {},
                        "status": {
                          "type": "string"
                        },
                        "context": {
                          "type": "object",
                          "properties": {
                            "timestamp": {
                              "type": "string"
                            },
                            "id": {
                              "type": "string"
                            },
                            "name": {
                              "type": "string"
                            },
                            "description": {
                              "type": "string"
                            },
                            "conditionType": {
                              "type": "string"
                            },
                            "severity": {
                              "type": "string"
                            },
                            "condition": {
                              "type": "object",
                              "properties": {
                                "windowSize": {
                                  "type": "string"
                                },
                                "allOf": {
                                  "type": "array",
                                  "items": {
                                    "type": "object",
                                    "properties": {
                                      "metricName": {
                                        "type": "string"
                                      },
                                      "metricNamespace": {
                                        "type": "string"
                                      },
                                      "operator": {
                                        "type": "string"
                                      },
                                      "threshold": {
                                        "type": "string"
                                      },
                                      "timeAggregation": {
                                        "type": "string"
                                      },
                                      "dimensions": {
                                        "type": "array",
                                        "items": {
                                          "type": "object",
                                          "properties": {
                                            "name": {
                                              "type": "string"
                                            },
                                            "value": {
                                              "type": "string"
                                            }
                                          },
                                          "required": [
                                            "name",
                                            "value"
                                          ]
                                        }
                                      },
                                      "metricValue": {
                                        "type": "number"
                                      },
                                      "webTestName": {}
                                    },
                                    "required": [
                                      "metricName",
                                      "metricNamespace",
                                      "operator",
                                      "threshold",
                                      "timeAggregation",
                                      "dimensions",
                                      "metricValue",
                                      "webTestName"
                                    ]
                                  }
                                }
                              }
                            },
                            "subscriptionId": {
                              "type": "string"
                            },
                            "resourceGroupName": {
                              "type": "string"
                            },
                            "resourceName": {
                              "type": "string"
                            },
                            "resourceType": {
                              "type": "string"
                            },
                            "resourceId": {
                              "type": "string"
                            },
                            "portalLink": {
                              "type": "string"
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "contentVersion": "1.0.0.0",
          "outputs": {}
        },
        "parameters": {
          "$connections": {
            "value": {
              "teams_1": {
                "id": "[concat(subscription().id, '/providers/Microsoft.Web/locations/', parameters('logicAppLocation'), '/managedApis/', 'teams')]",
                "connectionId": "[resourceId('Microsoft.Web/connections', parameters('ConnectionName'))]",
                "connectionName": "[parameters('ConnectionName')]"
              }
            }
          }
        }
      },
      "dependsOn": [
        "[resourceId('Microsoft.Web/connections', parameters('ConnectionName'))]"
      ]
    },
    {
      "type": "MICROSOFT.WEB/CONNECTIONS",
      "apiVersion": "2018-07-01-preview",
      "name": "[parameters('ConnectionName')]",
      "location": "[parameters('logicAppLocation')]",
      "properties": {
        "api": {
          "id": "[concat(subscription().id, '/providers/Microsoft.Web/locations/', parameters('logicAppLocation'), '/managedApis/', 'teams')]"
        },
        "displayName": "[parameters('ConnectionDisplayName')]",
        "nonSecretParameterValues": {
          "token:TenantId": "[parameters('ConnectiontokenTenantId')]"
        }
      }
    }
  ],
  "outputs": {}
}