Azure-Alerts/LogicAppAlerts02/LogicApp.json
{
  "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
  "contentVersion": "1.0.0.0",
  "parameters": {
    "logicAppName": {
      "type": "string",
      "minLength": 1,
      "maxLength": 80,
      "metadata": {
        "description": "Name of the Logic App."
      }
    },
    "logicAppLocation": {
      "type": "string",
      "defaultValue": "[resourceGroup().location]"
    },
    "ConnectionName": {
      "type": "string",
      "defaultValue": "team"
    },
    "ConnectionDisplayName": {
      "type": "string",
      "defaultValue": "monitoring@greenflux.com"
    },
    "ConnectiontokenTenantId": {
      "type": "string",
      "metadata": {
        "description": "The tenant ID of for the Azure Active Directory application"
      }
    }
  },
  "variables": {},
  "resources": [
    {
      "name": "[parameters('logicAppName')]",
      "type": "Microsoft.Logic/workflows",
      "location": "[parameters('logicAppLocation')]",
      "tags": {
        "displayName": "LogicApp",
        "status": "active",
        "costcenter": "shared",
        "project": "shared",
        "team": "devops"
      },
      "apiVersion": "2016-06-01",
      "properties": {
        "definition": {
          "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
          "actions": {
            "And_the_HTTP_request_is_a_service_health_alert": {
              "actions": {
                "And_the_alert_is_activated": {
                  "actions": {
                    "Post_message_in_the_Severity_1_channel": {
                      "inputs": {
                        "body": {
                          "messageBody": "<p>Activity Log alert: @{triggerBody()?['data']?['context']?['activityLog']?['eventSource']}<br>\nOperation name: @{triggerBody()?['data']?['context']?['activityLog']?['operationName']}<br>\nService Health incident type: @{triggerBody()?['data']?['context']?['activityLog']?['properties']?['incidentType']}<br>\nStatus: @{triggerBody()?['data']?['context']?['activityLog']?['status']}<br>\nTracking ID: @{triggerBody()?['data']?['context']?['activityLog']?['properties']?['trackingId']}<br>\nTitle: @{triggerBody()?['data']?['context']?['activityLog']?['properties']?['title']}<br>\n<br>\n@{triggerBody()?['data']?['context']?['activityLog']?['properties']?['communication']}</p>",
                          "recipient": {
                            "channelId": "19:5a76a26e1f4e4a66ac46c26d628de4b6@thread.skype",
                            "groupId": "7d81e64e-b159-4b4e-8619-a91a5b1f4fca"
                          }
                        },
                        "host": {
                          "connection": {
                            "name": "@parameters('$connections')['teams']['connectionId']"
                          }
                        },
                        "method": "post",
                        "path": "/beta/teams/conversation/message/poster/Flow bot/location/@{encodeURIComponent('Channel')}"
                      },
                      "runAfter": {},
                      "type": "ApiConnection"
                    }
                  },
                  "else": {
                    "actions": {
                      "Terminate": {
                        "inputs": {
                          "runStatus": "Succeeded"
                        },
                        "runAfter": {},
                        "type": "Terminate"
                      }
                    }
                  },
                  "expression": {
                    "and": [
                      {
                        "equals": [
                          "@triggerBody()?['data']?['status']",
                          "Activated"
                        ]
                      }
                    ]
                  },
                  "runAfter": {},
                  "type": "If"
                }
              },
              "else": {
                "actions": {
                  "Post_error_message_in_the_DevOps_channel": {
                    "inputs": {
                      "body": {
                        "messageBody": "<p>The Azure service health monitoring logic app received an unrecognized HTTP request:<br>\n<br>\n@{json(triggerBody())}</p>",
                        "recipient": {
                          "channelId": "19:0c8be18da04046daa403c9da4d2361a6@thread.skype",
                          "groupId": "7d81e64e-b159-4b4e-8619-a91a5b1f4fca"
                        }
                      },
                      "host": {
                        "connection": {
                          "name": "@parameters('$connections')['teams']['connectionId']"
                        }
                      },
                      "method": "post",
                      "path": "/beta/teams/conversation/message/poster/Flow bot/location/@{encodeURIComponent('Channel')}"
                    },
                    "runAfter": {},
                    "type": "ApiConnection"
                  }
                }
              },
              "expression": {
                "and": [
                  {
                    "equals": [
                      "@triggerBody()?['schemaId']",
                      "Microsoft.Insights/activityLogs"
                    ]
                  },
                  {
                    "equals": [
                      "@triggerBody()?['data']?['context']?['activityLog']?['eventSource']",
                      "ServiceHealth"
                    ]
                  }
                ]
              },
              "runAfter": {},
              "type": "If"
            }
          },
          "contentVersion": "1.0.0.0",
          "outputs": {},
          "parameters": {
            "$connections": {
              "defaultValue": {},
              "type": "Object"
            }
          },
          "triggers": {
            "manual": {
              "inputs": {
                "schema": {
                  "properties": {
                    "data": {
                      "properties": {
                        "context": {
                          "properties": {
                            "activityLog": {
                              "properties": {
                                "channels": {
                                  "type": "string"
                                },
                                "correlationId": {
                                  "type": "string"
                                },
                                "description": {
                                  "type": "string"
                                },
                                "eventDataId": {
                                  "type": "string"
                                },
                                "eventSource": {
                                  "type": "string"
                                },
                                "eventTimestamp": {
                                  "type": "string"
                                },
                                "level": {
                                  "type": "string"
                                },
                                "operationId": {
                                  "type": "string"
                                },
                                "operationName": {
                                  "type": "string"
                                },
                                "properties": {
                                  "properties": {
                                    "communication": {
                                      "type": "string"
                                    },
                                    "communicationId": {
                                      "type": "string"
                                    },
                                    "defaultLanguageContent": {
                                      "type": "string"
                                    },
                                    "defaultLanguageTitle": {
                                      "type": "string"
                                    },
                                    "impactMitigationTime": {
                                      "type": "string"
                                    },
                                    "impactStartTime": {
                                      "type": "string"
                                    },
                                    "impactedServices": {
                                      "type": "string"
                                    },
                                    "impactedServicesTableRows": {
                                      "type": "string"
                                    },
                                    "incidentType": {
                                      "type": "string"
                                    },
                                    "isHIR": {
                                      "type": "string"
                                    },
                                    "region": {
                                      "type": "string"
                                    },
                                    "service": {
                                      "type": "string"
                                    },
                                    "stage": {
                                      "type": "string"
                                    },
                                    "title": {
                                      "type": "string"
                                    },
                                    "trackingId": {
                                      "type": "string"
                                    },
                                    "version": {
                                      "type": "string"
                                    }
                                  },
                                  "type": "object"
                                },
                                "status": {
                                  "type": "string"
                                },
                                "submissionTimestamp": {
                                  "type": "string"
                                },
                                "subscriptionId": {
                                  "type": "string"
                                }
                              },
                              "type": "object"
                            }
                          },
                          "type": "object"
                        },
                        "properties": {
                          "properties": {},
                          "type": "object"
                        },
                        "status": {
                          "type": "string"
                        }
                      },
                      "type": "object"
                    },
                    "schemaId": {
                      "type": "string"
                    }
                  },
                  "type": "object"
                }
              },
              "kind": "Http",
              "type": "Request"
            }
          }
        },
        "parameters": {
          "$connections": {
            "value": {
              "teams": {
                "id": "[concat(subscription().id, '/providers/Microsoft.Web/locations/', parameters('logicAppLocation'), '/managedApis/', 'teams')]",
                "connectionId": "[resourceId('Microsoft.Web/connections', parameters('ConnectionName'))]",
                "connectionName": "[parameters('ConnectionName')]"
              }
            }
          }
        }
      },
      "dependsOn": [
        "[resourceId('Microsoft.Web/connections', parameters('ConnectionName'))]"
      ]
    },
    {
      "type": "MICROSOFT.WEB/CONNECTIONS",
      "apiVersion": "2018-07-01-preview",
      "name": "[parameters('ConnectionName')]",
      "location": "[parameters('logicAppLocation')]",
      "tags": {
        "displayName": "LogicApp",
        "status": "active",
        "costcenter": "shared",
        "project": "shared",
        "team": "devops"
      },
      "properties": {
        "api": {
          "id": "[concat(subscription().id, '/providers/Microsoft.Web/locations/', parameters('logicAppLocation'), '/managedApis/', 'teams')]"
        },
        "displayName": "[parameters('ConnectionDisplayName')]",
        "nonSecretParameterValues": {
          "token:TenantId": "[parameters('ConnectiontokenTenantId')]"
        }
      }
    }
  ],
  "outputs": {}
}