Azure-Alerts/LogicAppAlerts02/LogicApp.json
{
  "$schema": "https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
  "contentVersion": "1.0.0.0",
  "parameters": {
    "logicAppName": {
      "type": "string",
      "minLength": 1,
      "maxLength": 80,
      "metadata": {
        "description": "Name of the Logic App."
      }
    },
    "logicAppLocation": {
      "type": "string",
      "defaultValue": "[resourceGroup().location]"
    },
    "ConnectionName": {
      "type": "string",
      "defaultValue": "team"
    },
    "ConnectionDisplayName": {
      "type": "string",
      "defaultValue": "monitoring@greenflux.com"
    },
    "ConnectiontokenTenantId": {
      "type": "string",
      "metadata": {
        "description": "The tenant ID of for the Azure Active Directory application"
      }
    }
  },
  "variables": {},
  "resources": [
    {
      "name": "[parameters('logicAppName')]",
      "type": "Microsoft.Logic/workflows",
      "location": "[parameters('logicAppLocation')]",
      "tags": {
        "displayName": "LogicApp",
        "status": "active",
        "costcenter": "shared",
        "project": "shared",
        "team": "devops"
      },
      "apiVersion": "2016-06-01",
      "properties": {
        "definition": {
          "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
          "actions": {
            "Condition": {
              "type": "If",
              "expression": {
                "and": [
                  {
                    "equals": [
                      "@triggerBody()?['schemaId']",
                      "Microsoft.Insights/activityLogs"
                    ]
                  },
                  {
                    "equals": [
                      "@triggerBody()?['data']?['context']?['activityLog']?['eventSource']",
                      "ServiceHealth"
                    ]
                  }
                ]
              },
              "actions": {
                "Condition:_Activated_or_Resolved": {
                  "type": "If",
                  "expression": {
                    "and": [
                      {
                        "equals": [
                          "@triggerBody()?['data']?['status']",
                          "Activated"
                        ]
                      }
                    ]
                  },
                  "actions": {
                    "MS_team_activated_service_health": {
                      "type": "ApiConnection",
                      "inputs": {
                        "host": {
                          "connection": {
                            "name": "@parameters('$connections')['teams']['connectionId']"
                          }
                        },
                        "method": "post",
                        "body": {
                          "body": {
                            "content": "<p><strong>Service Health: </strong><strong>@{triggerBody()?['data']?['context']?['activityLog']?['properties']?['incidentType']}</strong><strong><br>\nTittle: </strong><strong>@{triggerBody()?['data']?['context']?['activityLog']?['properties']?['title']}</strong><strong><br>\n<br>\n</strong><strong>@{triggerBody()?['data']?['context']?['activityLog']?['properties']?['communication']}</strong><strong></strong><br>\n<br>\nCheck For details, log in to the Azure Service Health dashboard:<br>\nhttps://ms.portal.azure.com/#blade/Microsoft_Azure_Health/AzureHealthBrowseBlade/serviceIssues &nbsp;<br>\n<span style=\"font-size: 10px\">tracking ID: </span><span style=\"font-size: 10px\">@{triggerBody()?['data']?['context']?['activityLog']?['properties']?['trackingId']}</span><span style=\"font-size: 10px\"></span></p>",
                            "contentType": "html"
                          }
                        },
                        "path": "/v3/beta/teams/@{encodeURIComponent('7d81e64e-b159-4b4e-8619-a91a5b1f4fca')}/channels/@{encodeURIComponent('19:5a76a26e1f4e4a66ac46c26d628de4b6@thread.skype')}/messages"
                      },
                      "runAfter": {}
                    }
                  },
                  "runAfter": {},
                  "else": {
                    "actions": {
                      "MS_team_resolved_service_health": {
                        "type": "ApiConnection",
                        "inputs": {
                          "host": {
                            "connection": {
                              "name": "@parameters('$connections')['teams']['connectionId']"
                            }
                          },
                          "method": "post",
                          "body": {
                            "body": {
                              "content": "<p><strong>Service Health: </strong><strong>@{triggerBody()?['data']?['context']?['activityLog']?['properties']?['incidentType']}</strong><strong><br>\nTittle: </strong><strong>@{triggerBody()?['data']?['context']?['activityLog']?['properties']?['title']}</strong><strong><br>\n<br>\n<br>\n</strong><strong>@{triggerBody()?['data']?['context']?['activityLog']?['properties']?['communication']}</strong><strong>&nbsp;</strong><br>\n<br>\nCheck For details, log in to the Azure Service Health dashboard:<br>\nhttps://ms.portal.azure.com/#blade/Microsoft_Azure_Health/AzureHealthBrowseBlade/serviceIssues <strong></strong><br>\n<span style=\"font-size: 10px\">tracking ID: </span><span style=\"font-size: 10px\">@{triggerBody()?['data']?['context']?['activityLog']?['properties']?['trackingId']}</span><span style=\"font-size: 10px\"></span></p>",
                              "contentType": "html"
                            }
                          },
                          "path": "/v3/beta/teams/@{encodeURIComponent('7d81e64e-b159-4b4e-8619-a91a5b1f4fca')}/channels/@{encodeURIComponent('19:5a76a26e1f4e4a66ac46c26d628de4b6@thread.skype')}/messages"
                        },
                        "runAfter": {}
                      }
                    }
                  }
                }
              },
              "runAfter": {},
              "else": {
                "actions": {
                  "MS_team_unrecongnaizable_service_health": {
                    "type": "ApiConnection",
                    "inputs": {
                      "host": {
                        "connection": {
                          "name": "@parameters('$connections')['teams']['connectionId']"
                        }
                      },
                      "method": "post",
                      "body": {
                        "body": {
                          "content": "<p><strong>Service Health Alert<br>\n<br>\nUnrecognized alert schema</strong><br>\n<br>\nCheck : https://ms.portal.azure.com/#blade/Microsoft_Azure_Health/AzureHealthBrowseBlade/serviceIssues &nbsp;For details, log in to the Azure Service Health dashboard.</p>",
                          "contentType": "html"
                        }
                      },
                      "path": "/v3/beta/teams/@{encodeURIComponent('7d81e64e-b159-4b4e-8619-a91a5b1f4fca')}/channels/@{encodeURIComponent('19:e8fe259419184fa7aa87aaa5c4b5a66d@thread.skype')}/messages"
                    },
                    "runAfter": {}
                  }
                }
              }
            }
          },
          "parameters": {
            "$connections": {
              "defaultValue": {},
              "type": "Object"
            }
          },
          "triggers": {
            "manual": {
              "type": "Request",
              "kind": "Http",
              "inputs": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "schemaId": {
                      "type": "string"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "status": {
                          "type": "string"
                        },
                        "context": {
                          "type": "object",
                          "properties": {
                            "activityLog": {
                              "type": "object",
                              "properties": {
                                "channels": {
                                  "type": "string"
                                },
                                "correlationId": {
                                  "type": "string"
                                },
                                "description": {
                                  "type": "string"
                                },
                                "eventSource": {
                                  "type": "string"
                                },
                                "eventTimestamp": {
                                  "type": "string"
                                },
                                "eventDataId": {
                                  "type": "string"
                                },
                                "level": {
                                  "type": "string"
                                },
                                "operationName": {
                                  "type": "string"
                                },
                                "operationId": {
                                  "type": "string"
                                },
                                "properties": {
                                  "type": "object",
                                  "properties": {
                                    "title": {
                                      "type": "string"
                                    },
                                    "service": {
                                      "type": "string"
                                    },
                                    "region": {
                                      "type": "string"
                                    },
                                    "communication": {
                                      "type": "string"
                                    },
                                    "incidentType": {
                                      "type": "string"
                                    },
                                    "trackingId": {
                                      "type": "string"
                                    },
                                    "impactStartTime": {
                                      "type": "string"
                                    },
                                    "impactMitigationTime": {
                                      "type": "string"
                                    },
                                    "impactedServices": {
                                      "type": "string"
                                    },
                                    "impactedServicesTableRows": {
                                      "type": "string"
                                    },
                                    "defaultLanguageTitle": {
                                      "type": "string"
                                    },
                                    "defaultLanguageContent": {
                                      "type": "string"
                                    },
                                    "stage": {
                                      "type": "string"
                                    },
                                    "communicationId": {
                                      "type": "string"
                                    },
                                    "isHIR": {
                                      "type": "string"
                                    },
                                    "version": {
                                      "type": "string"
                                    }
                                  }
                                },
                                "status": {
                                  "type": "string"
                                },
                                "subscriptionId": {
                                  "type": "string"
                                },
                                "submissionTimestamp": {
                                  "type": "string"
                                }
                              }
                            }
                          }
                        },
                        "properties": {
                          "type": "object",
                          "properties": {}
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "contentVersion": "1.0.0.0",
          "outputs": {}
        },
        "parameters": {
          "$connections": {
            "value": {
              "teams": {
                "id": "[concat(subscription().id, '/providers/Microsoft.Web/locations/', parameters('logicAppLocation'), '/managedApis/', 'teams')]",
                "connectionId": "[resourceId('Microsoft.Web/connections', parameters('ConnectionName'))]",
                "connectionName": "[parameters('ConnectionName')]"
              }
            }
          }
        }
      },
      "dependsOn": [
        "[resourceId('Microsoft.Web/connections', parameters('ConnectionName'))]"
      ]
    },
    {
      "type": "MICROSOFT.WEB/CONNECTIONS",
      "apiVersion": "2018-07-01-preview",
      "name": "[parameters('ConnectionName')]",
      "location": "[parameters('logicAppLocation')]",
      "tags": {
        "displayName": "LogicApp",
        "status": "active",
        "costcenter": "shared",
        "project": "shared",
        "team": "devops"
      },
      "properties": {
        "api": {
          "id": "[concat(subscription().id, '/providers/Microsoft.Web/locations/', parameters('logicAppLocation'), '/managedApis/', 'teams')]"
        },
        "displayName": "[parameters('ConnectionDisplayName')]",
        "nonSecretParameterValues": {
          "token:TenantId": "[parameters('ConnectiontokenTenantId')]"
        }
      }
    }
  ],
  "outputs": {}
}